---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import { withTrailingBase } from '../lib/basePath';
import { PAGE_ABOUT_TITLE } from '../consts';
import Layout from '../layouts/BlogPost.astro';

const b = withTrailingBase();
---

<Layout
	title={PAGE_ABOUT_TITLE}
	description="关于本站与作者的几句话。"
	pubDate={new Date('2026-01-01')}
	heroImage={AboutHeroImage}
>
	<p>我是一名开发者，用这个小站把学过、试过、踩过坑的技术点记下来，方便以后自己查阅，也欢迎路过的人参考。</p>
	<p>
		你可以到 <a href={`${b}blog`}>文章</a> 里浏览已发布的内容。若你也在搭建自己的博客，站点的入口说明写在
		<a href={b}>首页</a>。
	</p>
	<p>欢迎把本页替换成你真实的个人介绍、项目与联系方式；也可去掉头图，在 <code>about.astro</code> 中移除 <code>heroImage</code> 即可。</p>
</Layout>
