---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
/** 统一去掉尾斜线再比较，兼容 GitHub Pages 子路径 */
const norm = (p: string) => {
	const t = p.replace(/\/$/u, '');
	return t === '' ? '/' : t;
};
const isActive = norm(href) === norm(Astro.url.pathname);
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration: none;
	}
	a.active {
		font-weight: bolder;
		text-decoration: underline;
	}
</style>
